<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-12-08T16:13:08Z</date>
	<key>WorkspacePath</key>
	<string>/Users/risetime/Documents/turan/swift-projects/swift_layout/swift_layout.xcodeproj</string>
</dict>
</plist>
